.add_place {
    background-image: url("../../assets/images/plane.jpg");
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    width: 100%;
}